* {
  margin: 0;
  padding: 0;
}



header {
  background-color: #457A61;
  background-size: contain;
  height: 100px;
  top: 0;
}

.a {
  position: relative;
  text-align: center;
  animation-name: example;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

@keyframes example {
  from {
    left: 0;
  }

  to {
    left: -15cm;
  }
}

.int {
  position: relative;
  top: -14cm;
  left: 24cm;
  animation-name: ex2;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  width: 40%;
}

@keyframes ex2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  65% {
    opacity: 1;
  }
}

i {
  font-size: 80px;
}

.ins {
  width: 8%;
  height: 8%;
  position: relative;
  left: 15cm;
  top: 3cm;
}

.ins:hover {
  -webkit-transform: rotate(30deg);
}

.email {
  width: 8%;
  height: 8%;
  position: relative;
  left: 11cm;
  top: 1cm;
}

.email:hover {
  -webkit-transform: rotate(30deg);
}


.fb {
  width: 8%;
  height: 8%;
  position: relative;
  left: 19cm;
  top: -0.7cm;
}

.fb:hover {
  -webkit-transform: rotate(30deg);
}


h1 {
  text-align: center;
  color: white;
  font-size: 80px;
  font-family: 'Freestyle Script',
    sans-serif;
}

h2 {
  font-size: 50px;
  font-family: "微軟正黑體";
  color: #591D1D;
  margin: auto;
  position: relative;
  top: 2.5cm;
}

h3 {
  font-size: 30px;
  font-family: "微軟正黑體";
  color: #5B5A5A;
  position: relative;
  text-align: center;

}

hr.hr1 {
  margin: auto;
  position: absolute;
  top: 24cm;
  left: 6cm;
  padding: 0;
  margin: 0;
}

hr.hr2 {
  margin: auto;
  position: relative;
  top: -30cm;
}

p {
  font-size: 30px;
  font-family: "微軟正黑體";
  color: #591D1D;
  padding: 0px;
  position: relative;
  margin: auto;
}

p.p2 {
  font-size: 20px;
  font-family: "微軟正黑體";
  color: #591D1D;
  padding: 0px;
  margin: auto;
  font-weight: bold;
}

p.p2:hover {
  font-size: 21px;
  font-family: "微軟正黑體";
  color: #5B5A5A;
  padding: 0px;
  margin: auto;
  font-weight: bold;
}

.me {
  height: 25%;
  width: 25%;
  position: relative;
  top: 2cm;
  margin: auto;
  border-radius: 50%;
  border: 8px #EDE6D4 solid;
  display: block;

}

.link-right {
  padding: 0;
  position: absolute;
  top: 4cm;
  left: 22cm;
  width: 0px;
  height: 18cm;
  border-right: solid #B4AEAE 5px;
  opacity: 0.5;
  animation-name: ex3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes ex3 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  65% {
    opacity: 0.5;
  }
}

.s1 {
  position: relative;
  left: -10cm;
  width: 30%;
}

.bt {
  width: 70%;
  position: relative;
  top: 0cm;
  left: 3cm;
}

.bar {
  width: 100%;
  position: relative;
  left: 15cm;
  top: 3cm;

}



.s2 {
  position: relative;
  left: 0cm;
  top: -11cm;

}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 50px;

}

.js,
.c,
.j,
.s,
.h,
.q,
.an {
  background-color: #591D1D;
  position: relative;
  animation-timing-function: ease-in-out;
}

.c {
  animation: move1 4s 3;
  width: 50%
}

.j {
  animation: move2 4s 3;
  width: 60%
}

.h {
  animation: move3 4s 3;
  width: 70%
}

.s {
  animation: move4 4s 3;
  width: 80%
}

.js {
  animation: move5 4s 3;
  width: 20%
}

.q {
  animation: move6 4s 3;
  width: 40%
}

.an {
  animation: move7 4s 3;
  width: 50%
}

@keyframes move1 {
  from {
    width: 0%;
    ;
  }

  to {
    width: 50%;
    ;
  }
}

@keyframes move2 {
  from {
    width: 0%;
    ;
  }

  to {
    width: 60%;
    ;
  }
}

@keyframes move3 {
  from {
    width: 0%;
    ;
  }

  to {
    width: 70%;
    ;
  }
}

@keyframes move4 {
  from {
    width: 0%;
    ;
  }

  to {
    width: 80%;
    ;
  }
}

@keyframes move5 {
  from {
    width: 0%;
    ;
  }

  to {
    width: 20%;
    ;
  }
}

@keyframes move6 {
  from {
    width: 0%;
    ;
  }

  to {
    width: 40%;
    ;
  }
}

@keyframes move7 {
  from {
    width: 0%;
    ;
  }

  to {
    width: 50%;
    ;
  }
}


.s1cir .card {
  position: relative;
  top: -10cm;
  left: 21.5cm;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}

.s1cir2 .card {
  position: relative;
  top: -20.6cm;
  left: 28cm;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}

.cir {
  position: relative;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background: #EDE6D4;

}

.cir .word {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cir .word h2 {
  font-style: inherit;
  position: relative;
  left: 0.05cm;
  top: -0.05cm;
  font-weight: 700;
  font-size: 35px;
  color: rgb(173, 84, 84);
  transition: 0.5s;
}

.card:hover .cir .word h2 {
  color: #DC584A;
  font-size: 45px;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 999;

}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #B4AEAE;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 380;
  transition: 0.5s;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(380 - (380 * 78) / 100);
  stroke: #591D1D;
}

.card:hover:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(-380 + (380 * 78) / 100);
  stroke: #591D1D;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dasharray: 380;
  stroke-dashoffset: calc(380 - (380 * 83) / 100);
  stroke: #591D1D;
}

.card:hover:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(-380 + (380 * 83) / 100);
  stroke: #591D1D;
}

.edu {
  position: relative;
  top: -34cm;
  left: 35cm;
  width: 30%;
}

.school {
  position: relative;
  top: -32.5cm;
  left: 35cm;
  width: 30%;

}

.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #EDE6D4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;

}

/* Container around content */
.container {
  padding: 15px 25px;
  position: relative;
  background-color: inherit;
  width: 40%
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -5px;
  background-color: white;
  border: 4px solid #591D1D;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 3%;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

/* The actual content */
.content {
  padding: 20px;
  background-color: #EDE6D4;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 40px;
  }

  /* Full-width containers */
  .container {
    width: 40%;
    padding-left: 30px;
    padding-right: 25px;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.xp-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.container-xp1 {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 400px;
  position: relative;
  left: 7cm;
  top: 100px;
  border-radius: 22px;
  border: 6px orange dashed;
}

.container-xp2 {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 400px;
  position: relative;
  left: -9.5cm;
  top: 18cm;
  border-radius: 22px;
  border: 6px orange dashed;
}

.container-xp3 {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 400px;
  position: relative;
  left: -2cm;
  top: 2.75cm;
  border-radius: 22px;
  border: 6px orange dashed;
}

.container-xp4 {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 400px;
  position: relative;
  left: 30.5cm;
  top: 7.25cm;
  border-radius: 22px;
  border: 6px orange dashed;
}

.container-xp5 {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 400px;
  position: relative;
  left: -9.5cm;
  top: 22.25cm;
  border-radius: 22px;
  border: 6px orange dashed;
}

.container-xp6 {
  display: inline-block;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 400px;
  position: relative;
  left: -2.25cm;
  top: 22.25cm;
  border-radius: 22px;
  border: 6px orange dashed;
}

.info {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.65);
  color: white;
  font-size: 22px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 18px;
}

.info:hover {
  opacity: 1;
  transition: opacity 0.8s;
}

footer {
  background-color: #457A61;
  height: 50px;
  position: relative;
  top: 25cm;
  text-align: center;
  font-size: 25px;
  color: white;
  padding-top: 0.5cm;
  padding-bottom: 0.25cm;
}